<div class="em-page-center-parent" style="margin-top: 10%">
    <div class="em-page-center">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3 col-lg-4 col-lg-offset-4">

                    <div class="actionable" id="actionable-sign-in">
                        <div class="actionable-front component-shadow">
                            <div class="panel">
                                <div class="panel-body">
                                    <div class="text-center">
                                        <img src="static/images/kiraz.png" />
                                        <h3>
                                            <strong>KALORİ MERKEZİ </strong> <span class="thin">GİRİŞ</span>
                                        </h3>
                                    </div>

                                    <div class="padded">
                                        <form action="../dashboard.html" id="form-sign-in-demo">
                                            <div class="form-group email required">
                                                <input id="mail" class="string email required form-control"
                                                       maxlength="255" name="user" placeholder="Mail"
                                                       rel="jvfloat">
                                            </div>
                                            <div class="form-group password required">
                                                <input class="password required form-control"
                                                       id="password" name="password" placeholder="Password"
                                                       type="password" rel="jvfloat">
                                            </div>

                                            <div class="form-group actions">
                                                <a class="btn btn-success-lt btn-block actionable-action sender" name="commit">Let's do this</a>
                                            </div>

                                            <div class="form-group">
                                                <div class="row">
                                                    <div class="col-xs-6">
                                                        <label class="checkbox-inline no-padding">
                                                            <input type="checkbox" value="1" rel="icheck" class="checkable-success"> Remember Me
                                                        </label>
                                                    </div>
                                                    <div class="col-xs-6 text-right">
                                                        <a href="#">Forgot password?</a>
                                                    </div>
                                                </div>
                                            </div>

                                        </form>
                                    </div>

                                    <div class="text-center form-group">
                                        Don't have an account?
                                        <a href="sign_up.html">                    <strong>Sign Up</strong>
                                        </a>                </div>
                                </div>
                            </div>
                        </div>
                        <div class="actionable-back component-shadow bg-white padded">
                            <div class="actionable-contain">
                                <button type="button" class="close pull-right">&times;</button>
                                <br><br>
                                <h1 class="thin text-success text-center actionable-animated-fadeInLeftSmall">
                                    Success!
                                </h1>
                                <br><br>
                                <div class="progress">
                                    <div class="progress-bar progress-bar-success progress-bar-striped active"
                                         style="width: 100%">
                                    </div>
                                </div>
                                <br><br>
                                <p class="text-center actionable-animated-fadeInRightSmall">
                                    Redirecting to your dashboard...
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        &copy; 2014 Emerald Inc. All Rights Reserved
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>